[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sorl-thumbnail = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"
Django = "*"
Pillow = "*"
Brotli = "*"

[dev-packages]

[requires]
python_version = "3.10"
